{% extends "balance/base.html" %}
{% load bootstrap4 %}

{% block title %}: {{ account }}{% endblock %}

{% block content %}
<h1>{{ account }}</h1>

{% with account.last_balance as balance %}
{% if balance %}

{% with account.balance_estimate as estimate %}
{% if balance.balance == account.balance_estimate %}
<h2>{{ balance }} <small>on {{ balance.date }}</small></h2>
{% else %}
<h2>{{ estimate }} <small>(estimate)</small></h2>
<p>Last verified: {{ balance }} on {{ balance.date }}</p>
{% endif %}
{% endwith %}

{% with balance.difference as difference %}
{% if difference %}
<p>Discrepancy found: {{ difference }} from {{ balance.previous_record.date }}</p>
{% endif %}
{% endwith %}

{% else %}
<p>No balance records</p>
{% endif %}
{% endwith %}

<form class="form-inline" method="post" action="{% url 'balance:balance_update' %}">
    {% csrf_token %}
    {% bootstrap_form balance_form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Update</button>
    {% endbuttons %}
</form>

{% include "balance/transaction_archive.html" with transaction_list=object_list url_name='balance:account_month' object_key=account.pk %}

{% endblock %}
