{% extends "balance/base.html" %}
{% load balance_extras %}

{% block content %}
<h1>{{ account }}</h1>

{% with account.last_balance as balance %}
{% if balance %}
<h2>{{ balance }} <small>on {{ balance.date }}</small></h2>
{% else %}
<p>No balance records</p>
{% endif %}
{% endwith %}

<h2>Transactions</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>From/To</th>
            <th>Amount</th>
            <th>Remark</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in account.recent_transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.category }}</td>
            {% with transaction|other_account:account as other %}
            <td><a href="{% url 'balance:account_detail' other.pk %}">{{ other }}</a></td>
            {% endwith %}
            <td>{{ transaction|net_amount:account }}</td>
            <td>{{ transaction.remark }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
