{% extends "balance/base.html" %}
{% load bootstrap4 %}
{% load balance_extras %}

{% block title %}: {{ budget }}{% endblock %}}

{% block content %}
<h1>{{ budget }}
<small>{{ budget.date_start }} to {{ budget.date_end }}</small></h1>

<p>{{ budget.remark }}</p>

{% with budget.categorise as lines %}
{% with lines.0 as categorised %}
{% with lines.1 as totals %}

<h2>
    Allocations
    <a class="btn btn-md btn-success" href="{% url 'balance:allocation_create' budget.pk %}" role="button">Add</a>
</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Category</th>
            <th>Budget</th>
            <th>Expenditure</th>
        </tr>
        </thead>

        <tbody>
        {% for category, currencies in categorised.items %}
        {% for d in currencies.values %}
        <tr>
            <td><a href="{% url 'balance:category_detail' category.pk %}">{{ category }}</a></td>
            <td>{{ d.1 }}</td>
            <td>{{ d.0 }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% for currency, sums in totals.items %}
        <tr>
            <td>Total</td>
            <td>{{ sums.1 }}</td>
            <td>{{ sums.0 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endwith %}
{% endwith %}
{% endwith %}


<h2>Accounts</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Account</th>
            <th>Balance</th>
            <th>Discrepancies</th>
        </tr>
        </thead>

        <tbody>
        {% for account in budget.accounts.all %}
        <tr>
            <td><a href="{% url 'balance:account_detail' account.pk %}">{{ account }}</a></td>
            <td>{{ account.balance_estimate }}</td>
            <td>{{ account|discrepancies:budget|default:"-" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
