{% extends "balance/base.html" %}
{% load bootstrap4 %}

{% block title %}: {{ budget }}{% endblock %}}

{% block content %}
<h1>{{ budget }}
<small>{{ budget.date_start }} to {{ budget.date_end }}</small></h1>

<p>{{ budget.remark }}</p>

<h2>Accounts</h2>
<ul>
    {% for account in budget.accounts.all %}
    <li>{{ account }}</li>
    {% endfor %}
</ul>

<h2>
    Allocations
    <a class="btn btn-md btn-success" href="{% url 'balance:allocation_create' budget.pk %}" role="button">Add</a>
</h2>
<ul>
    {% for alloc in budget.budgetallocation_set.all %}
    <li>{{ alloc }}</li>
    {% endfor %}
</ul>

{% endblock %}
