{% load balance_extras %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'balance:account_list' %}">Balance</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% nav_active request 'balance:category_list' %}" href="{% url 'balance:category_list' %}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% nav_active request 'balance:budget_list' %}" href="{% url 'balance:budget_list' %}">Budgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% nav_active request 'balance:transaction_create' %}" href="{% url 'balance:transaction_create' %}">New Transaction</a>
            </li>
        </ul>
    </div>
</nav>
