{% extends "balance/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h1>Transaction
    <small>
        <a class="btn btn-md btn-success" href="{% url 'balance:transaction_update' transaction.pk %}" role="button">Update</a>
        <a class="btn btn-md btn-danger" href="{% url 'balance:transaction_delete' transaction.pk %}" role="button">Delete</a>
    </small>
</h1>

<h2>{{ transaction.date }}</h2>

<ul>
    <li>From: <a href="{% url 'balance:account_month' transaction.payer.pk transaction.date.year transaction.date.month %}">{{ transaction.payer }}</a></li>
    <li>To: <a href="{% url 'balance:account_detail' transaction.payee.pk %}">{{ transaction.payee }}</a></li>
    <li>Category: <a href="{% url 'balance:category_month' transaction.category.pk transaction.date.year transaction.date.month %}">{{ transaction.category }}</a></li>
    <li>Amount: {{ transaction.amount }}</li>
    <li>Remark: {{ transaction.remark|default:"-" }}</li>
</ul>

{% endblock %}
