{% load balance_extras %}

{% if transaction_list %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Remark</th>
        </tr>
        </thead>

        <tbody>
        {% if transaction_list %}
        <tr class="table-primary">
            <td colspan="4"><strong>Total</strong></td>
            <td><strong>{{ total|default:"-" }}</strong></td>
            <td></td>
        </tr>
        {% endif %}
        {% for transaction in transaction_list %}
        {% if transaction.internal and not account %}<tr class="text-muted">{% else %}<tr>{% endif %}
            <td>{{ transaction.date }}</td>
            <td><a href="{% url 'balance:category_detail' transaction.category.pk %}">{{ transaction.category }}</a></td>
            <td><a href="{% url 'balance:account_detail' transaction.payer.pk %}">{{ transaction.payer }}</a></td>
            <td><a href="{% url 'balance:account_detail' transaction.payee.pk %}">{{ transaction.payee }}</a></td>
            {% if account %}
            <td>{{ transaction|net_amount:account }}</td>
            {% else %}
            <td>{{ transaction.internal_change }}</td>
            {% endif %}
            <td>{{ transaction.remark }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No transactions</p>
{% endif %}
