{% extends "balance/base.html" %}

{% block content %}
<h1>
    Categories
    <small>
        <a class="btn btn-md btn-success" href="{% url 'balance:category_create' %}" role="button">Add</a>
    </small>
</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Category</th>
            <th>This month</th>
        </tr>
        </thead>

        <tbody>
        {% for category in object_list %}
        <tr>
            <td><a href="{% url 'balance:category_detail' category.pk %}">{{ category }}</a></td>
            <td>{{ category.month_change|default:"-" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
