{% load balance_extras %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            {% if account %}
            <th>From/To</th>
            {% else %}
            <th>From</th>
            <th>To</th>
            {% endif %}
            <th>Amount</th>
            <th>Remark</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transaction_list %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td><a href="{% url 'balance:category_detail' transaction.category.pk %}">{{ transaction.category }}</a></td>
            {% if account %}
            {% with transaction|other_account:account as other %}
            <td><a href="{% url 'balance:account_detail' other.pk %}">{{ other }}</a></td>
            <td>{{ transaction|net_amount:account }}</td>
            {% endwith %}
            {% else %}
            <td><a href="{% url 'balance:account_detail' transaction.payer.pk %}">{{ transaction.payer }}</a></td>
            <td><a href="{% url 'balance:account_detail' transaction.payee.pk %}">{{ transaction.payee }}</a></td>
            <td>{{ transaction.amount }}</td>
            {% endif %}
            <td>{{ transaction.remark }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>