{% extends "balance/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h1>Transaction
    <small>
        <a class="btn btn-md btn-success" href="{% url 'balance:transaction_update' transaction.pk %}" role="button">Update</a>
    </small>
</h1>

<h2>{{ transaction.date }}</h2>

<ul>
    <li>From: <a href="{% url 'balance:account_detail' transaction.payer.pk %}">{{ transaction.payer }}</a></li>
    <li>To: <a href="{% url 'balance:account_detail' transaction.payee.pk %}">{{ transaction.payee }}</a></li>
    <li>Category: <a href="{% url 'balance:category_detail' transaction.category.pk %}">{{ transaction.category }}</a></li>
    <li>Amount: {{ transaction.amount }}</li>
    <li>Remark: {{ transaction.remark|default:"-" }}</li>
</ul>

<form method="post" action="">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {% buttons %}
    <button type="submit" class="btn btn-danger">Delete</button>
    {% endbuttons %}
</form>

{% endblock %}
